body {
  margin: 0;
  text-align: center;
  font-family: 'Cutive Mono', monospace;
}

hr {
  border-style: solid none none;
  border-color: #c9d6df;
  border-width: 4px;
  width: 30%;
}

h1 {
  font-size: 3rem;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-weight: normal;
  text-decoration: underline;
}

.top-container {
  background-color: #77abb7;
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
  background-color: #476d7c;
  padding: 10px;
}

.left-coding {
  position: absolute;
  top: 250px;
  left: 150px;
}

.right-coding {
  position: absolute;
  top: 250px;
  right: 150px;
}

.csulb-logo {
  width: 15%;
}

.pubdef-logo {
  width: 15%;
}

.skill-row {
  width: 50%;
  margin: auto;
}

.contact-button {
  width: 10%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: Tahoma;
  font-size: 1rem;
  background-color: #254B62;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
